<!DOCTYPE html>
<html>
<head>
  <title>Quiz Bowl</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "QuizBowlLogo.png" %>
  <style type="text/css">
	body { 
    background-color:#99B5E8 no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .fix_button_group{
  display: inline-block;
  }

  .myinline { display: inline; }
  /* Testing */
  /*#sidebar-newsletter{ background:#2e3639; color:#fff; padding:20px; font-size:14px;  margin-bottom:20px;}
  #sidebar-newsletter .sidebar-title {  margin-bottom:10px; color:#fff; }
  .sidebar-title { color:#000; font-size:19px; position:relative; }
  .sb-tw-art .sidebar-title,
  .sb-popular-art .sidebar-title,
  .sb-poll-art .sidebar-title { left:20px; top:11px;}
  .sb-tw-art .sidebar-title:hover { border-color:rgba(255,255,255, 1);  text-decoration:none;}
  .sidebar-nl-text { font-size:13px; line-height:19px;}
#sb-subscribe-form { margin-top:10px; text-align:left;}*/

  </style>
</head>
<body>
	<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Quiz Bowl', root_url %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      
      <li class="has-dropdown">
        <a href="#">About Us</a>
        <ul class="dropdown">
          <li><a href="#">Why QuizBowl</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <% if session[:user_id].blank? %>
      
      <li><%= link_to 'Sign Up', new_user_path %></li>
      <li><%= link_to 'Log In', new_session_url %></li>
      <% else %>
      <li><%= link_to 'Log Out', logout_url %></li>
      <% end %>
    </ul>
  </section>

</nav>

<%= yield %>

</body>
</html>
