<!DOCTYPE html>
<html>
<head>
  <title>Quiz Bowl</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <style>
      #map-canvas {
        height: 375px;
        width: 450px;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
      function initialize(x,y) {
        var myLatlng = new google.maps.LatLng(x,y);
        var mapOptions = {
          zoom: 15,
          center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Map'
        });
      }
      </script>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "QuizBowlLogo.png" %>
  <style type="text/css">
	body { 
    background-color:#99B5E8 no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .fix_button_group{
  display: inline-block;
  }

  .myinline { display: inline; }

  </style>
</head>
<body>
	<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Quiz Bowl', root_url %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if session[:user_id].blank? %>
      
      <% else %>
      <li><%= link_to 'Log Out', logout_url %></li>
      
      <% end %>
      <li class="has-dropdown">
        <a href="#">About Us</a>
        <ul class="dropdown">
          <li><a href="#">Why QuizBowl</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <% if session[:user_id].blank? %>
      
      <li><%= link_to 'Sign Up', new_user_path %></li>
      <li><%= link_to 'Log In', new_session_url %></li>
      <% else %>
      <li><%= link_to 'My Profile', edit_user_url(session[:user_id]) %></li>
      <li><%= link_to 'Games Lobby', show_lobbys_url%></li>
      <% end %>
    </ul>
  </section>

</nav>

<div class = "text-center">
<% if flash[:error] -%>
  <h1 class='error' style="color: red"><%=h flash[:error] %></h1>
<% end -%>
<% if flash[:notice] -%>
  <h1 class='notice' style="color: blue"><%=h flash[:notice] %></h1>
<% end -%>
</div>

<%= yield %>

</body>
</html>

<script>    
          google.maps.event.addDomListener(window, 'load', initialize(41.8519334,-87.7245571));
</script>
