<div class="row">
<div class="large-6 columns">
  <%= image_tag "QuizBowlLogo.png" %>
  <br>
  <h4 class = "text-center">Sign Up! Everybody's doing it!</h4>
</div>

<div class="large-6 columns">


<%= form_tag users_url, :method => 'post' do %>
      <%= label_tag :username %>
      <%= text_field_tag :username, "", placeholder: "Username" %>
      <%= label_tag :first %>
      <%= text_field_tag :first, "", placeholder: "First Name" %>
      <%= label_tag :last %>
      <%= text_field_tag :last, "", placeholder: "Last Name" %>
      <%= label_tag :email %>
      <%= text_field_tag :email, "", placeholder: "Email" %>
      <%= label_tag :age %>
      <%= text_field_tag :age, "", placeholder: "Age" %>
      <%= label_tag :St %>
      <%= text_field_tag :add_l1, "", placeholder: "St Address" %>
      <%= label_tag :city %>
      <%= text_field_tag :city, "", placeholder: "City" %>
      <%= label_tag :state %>
      <%= text_field_tag :state, "", placeholder: "State" %>
      <%= label_tag :zip %>
      <%= text_field_tag :zip, "", placeholder: "Zip" %>
      <%= label_tag :password %>
      <%= text_field_tag :password, "", placeholder: "Password" %>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password_confirmation" class="form-control" id="password_confirmation" placeholder="Password Confirmation">
      </div>
      <br>
      <button type="submit" class="button [tiny small large]">Submit</button>
    </form>
<% end%>
</div>
</div>
</div>


