<script type="text/javascript" src="countdown_v3.3/countdown.js"></script>
<script>
//initializes game for play
//hides everything and starts timer
$( document ).ready(function() {

	var questionIDs = new Array();
	var is_first = true;
	var cur_classID;

	$('.question').each( function(i,e) { 
		cur_classID = "";
    	cur_classID = $(e).attr('id');

    	questionIDs.push(cur_classID);
		if(is_first != true){
			$("div#"+cur_classID).toggle();
		}
		is_first = false;
	});
	
//start timer - this is the game's total time to be played
//each question will then run on a separate timer that will handle the "peeling off" of wrong answers

//need a few global vars to denote what question the interval is on 
q_index_GLOBAL = 0;
q_index_max_GLOBAL = questionIDs.length;
is_first_GLOBAL = true;
var intervalVal = 22000; //add 2 seconds for delay
peelIntervalVal = 1000; //trying to set peel val, but not working correctly
displayQuestion(questionIDs,intervalID, intervalVal, peelIntervalVal);
var intervalID=setInterval(function(){
	var q_start = new Date();
	displayQuestion(questionIDs, intervalID, intervalVal, peelIntervalVal, q_start)}, intervalVal);

});


//interval function that times each question
function displayQuestion(questionIDs, intervalID, intervalVal, peelIntervalVal)
{
	//init blank array to store question IDs
	//for *this question 
	var wrong_answerIDs = new Array();
	var numAnswers = 0;
	//alert('timer_'+questionIDs[(q_index_GLOBAL-1)]);

	//$('#timer_'+questionIDs[(q_index_GLOBAL)]).html();

		//display timer
		(function timerLoop (i, questionIDs) {          
   			var test1 = setTimeout(function () {   
      		//alert('hello');          
      		$('#timer_'+questionIDs[(q_index_GLOBAL-1)]).html("display timer here, broken :" + i);  
      		clearTimeout(test1);              
      		if (--i) timerLoop(i, questionIDs);      //  decrement i and call myLoop again if i > 0
   		}, 1000)
		})(((intervalVal-2000)/1000), questionIDs);
		
	if(q_index_GLOBAL != q_index_max_GLOBAL){

		//for every interval (other than first), hide current div, show next div
		if(is_first_GLOBAL==false){
			$("#"+questionIDs[(q_index_GLOBAL-1)]).toggle();
			$("#"+questionIDs[(q_index_GLOBAL)]).toggle();
		}
		is_first_GLOBAL = false;


		
		//get all answer values for this question
		//note class syntax matches answer class - answer_q_id
		$('.answer_'+questionIDs[q_index_GLOBAL]).each( function(i,e) {
				cur_classID = "";
    			cur_classID = $(e).attr('id');
    			//only grab answers that are incorrect (we're peeling them off)
    			if(cur_classID.indexOf("false") !== -1){
	    			wrong_answerIDs.push(cur_classID);
	    		}
		});

		//randomize array of wrong answers so there's no order to peeling off 
		wrong_answerIDs.sort(function(){
			return Math.round(Math.random()) - 0.5;
		});
		
		numAnswers = wrong_answerIDs.length;

		//loop w/ wait functionality to "peel" incorrect answers
		(function peelAnswersLoop (i, wrong_answerIDs, peelIntervalVal) {          
   			var test = setTimeout(function () {   
      		//alert(wrong_answerIDs[i-1]);         
      		$('#'+wrong_answerIDs[i-1]).hide();
      		clearTimeout(test);	
      		if (--i) peelAnswersLoop(i, wrong_answerIDs);      //  decrement i and call again if i > 0
   			}, (intervalVal/3)) //peelIntervalVal should go here, something is f'd, it just peels all vals at once
		})(wrong_answerIDs.length, wrong_answerIDs, peelIntervalVal);	
		
		q_index_GLOBAL++;
	}else{
		alert("END OF GAME");
		clearInterval(intervalID);
	}
}


</script>

<% @questions.each do |q| %>
	
	<div class="question" id='q_<%=q.id%>'>
		<span class="timer" id='timer_q_<%=q.id%>'></span>
	<h1><%= q.question %></h1>
	<!--need to get all answers for this question (by quesiton_id)-->
	<br>
	 <% q.answers.each do |a| %>
	 
	 	<%= radio_button_tag q.id.to_s(), a.id.to_s()+'_'+a.is_correct.to_s() %>
	 	<!-- note that answer_q_id is used for class
	 	so we can easily grab all answers -->
	   <span class="answer_q_<%=q.id%>" id='<%=a.id%>_<%=a.is_correct%>'><%= a.answer %></span>

       <br>
    <% end %>
	</div>
	<br>
	<br>
<% end %>

