<% if session[:user_id].blank? %>

  <script type="text/javascript">
    window.location.href="/"
  </script>

<% else %>

<%
require 'open-uri'
require 'json'
%>

<script>



	$( document ).ready(function() {

		var intervalID=setInterval(function(){ pollStatus() }, 5000);
	});


	function pollStatus(){
		//alert("polling...");
		
		$.ajax({
		  url: "test.html",
		  context: document.body
		}).done(function() {
		  $( this ).addClass( "done" );
		});

	}

</script>

<h4 class = "text-center"><%= @provider[0].display_name %><h4>
<h5 class = "text-center"><%= @Game[0].description %></h5>
<h6 class = "text-center"><%= @provider[0].add_l1 + ", " + @provider[0].city%></h6>


	

	
<div class="row">
<h6><center><b>Instructions:</b>
	<br>
	You'll have 20 seconds to answer each question - the earlier you choose your answer, the more points you'll get! 
	<br>
	If your guess was wrong, choose again so you can still earn some points.
	<br>
	Click Join Game below to join the game!</center></h6>
<br><br>
	<div class="row">
		<div class="large-1 columns myinline"></div>
  		<div class="large-5 columns">
			<table style="width: 480px; overflow: auto;" cellpadding="0" cellspacing="0">
				<tr>
					<td><b><u>Users waiting...</b></u></td>
				</tr>
					<% @players.each do |player| %>
					<tr>
						<td><%= player.username %></td>
					</tr>
					<% end %>
			</table>
		</div>

				<div style="float:right;width:475px;">
					<div id="map-canvas"> </div>
						<h5 class = "text-center"><i>Maps Powered by Google</i></h5>
					</div>
				</div>


</div>
<br><br>
<h5 class = "text-center">

<!-- user is a player @p_id-->
<% if (@user_id == @provider[0].id) %>
<%= button_to 'Start Game', provide_path(@p_id), :method => "patch" %>

	<%= button_to 'Start Game', provide_path(@p_id), :class => 'button [tiny small large]', :method => "patch" %>

<% else %>
<div class="row">
<!-- 	<div class="small-6 small-centered text-center margin-left: 0px; columns"> -->
		<ul class="button-group fix_button_group">
		<li><%= link_to 'Back To Lobby', show_lobbys_path, :class => 'button [tiny small large]'%></li>
    	<li><%= button_to 'Join Game', {:controller => 'players', :provide_id => @p_id, :user_id => @user_id}, :class => 'button [tiny small large]'%></li>
		</ul>
	<!-- </div> -->
	</div>
<% end %>


</h5>

<% 

loc = @provider[0].add_l1.to_s + "+" + @provider[0].city + "+" + @provider[0].state + "+" + @provider[0].zip.to_s

loc.gsub!(" ","+")

data = open("http://maps.googleapis.com/maps/api/geocode/json?address="+loc+"&sensor=false").read 

data = JSON.parse(data)

#output lat and long
latitude = data['results'][0]['geometry']['location']["lat"].to_s
longitude = data['results'][0]['geometry']['location']["lng"].to_s

%>

	


<script>    
          google.maps.event.addDomListener(window, 'load', initialize('<%= latitude %>','<%= longitude %>'));
</script>


<% end %>